@tailwind base;
@tailwind components;
@tailwind utilities;


*,::before, 
::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.glassCard{
  background:  rgba(225,225,225,0.18);
  box-shadow:  0 8px 32px 0 rgba(43, 43, 52, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(225,225,225,0.18);
}

.weather-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  color: white;
}

/* Mini Cards
.mini-card {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  border-radius: 8px;
  color: white;
  text-align: center;
} */

.mini-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
